<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="f4e22426-5ca5-4418-9048-9f287f95fe66" Alias="contact" Level="1">
  <Info>
    <Name>Contact</Name>
    <Icon>icon-phone color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions />
    <DefaultTemplate>Contact</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="7bae7be8-88f0-4b79-ba63-cc8c800539d2">Contact</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>21ebd7c6-cfeb-4d63-9f3b-57c4d87020a7</Key>
      <Name>Blocks</Name>
      <Alias>blocks</Alias>
      <Definition>f953bf00-6ced-492c-94c9-c2e18187ea6c</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>72c68d8c-97fe-4e64-ab6c-4267463a2e11</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>