<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="c0a17fc3-2577-43ac-9609-59b5e08a72c2" Alias="genericText" Level="1">
  <Info>
    <Name>Generic Text</Name>
    <Icon>icon-document color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions>
      <Composition Key="7dee22ff-e4fa-4a96-bc15-1146db9025fb">banner</Composition>
      <Composition Key="d315790f-3f51-43a3-a3d9-77b10b230928">metadata</Composition>
    </Compositions>
    <DefaultTemplate>GenericText</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="745617f7-7b7a-4cb8-96d3-0d84d8683a13">GenericText</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>09c11442-6a69-49e5-948c-5b8b9e1a4b11</Key>
      <Name>Blocks</Name>
      <Alias>blocks</Alias>
      <Definition>c8976809-7f92-4883-98c5-bebd9596b6ae</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="contentBlocks/content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>65322bae-a525-438e-b387-350613eaae4c</Key>
      <Caption>Content</Caption>
      <Alias>contentBlocks/content</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Key>d774f115-dae1-41bb-92ae-38c2a9b2ddef</Key>
      <Caption>Content Blocks</Caption>
      <Alias>contentBlocks</Alias>
      <Type>Tab</Type>
      <SortOrder>-1</SortOrder>
    </Tab>
  </Tabs>
</ContentType>