<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="49196bb5-37e5-42e0-83b4-6c60331089bb" Alias="home" Level="1">
  <Info>
    <Name>Home</Name>
    <Icon>icon-home color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions>
      <Composition Key="7dee22ff-e4fa-4a96-bc15-1146db9025fb">banner</Composition>
      <Composition Key="d315790f-3f51-43a3-a3d9-77b10b230928">metadata</Composition>
    </Compositions>
    <DefaultTemplate>Home</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="5a71625c-59ce-4586-b2fe-0676acbbbaf4">Home</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="f4e22426-5ca5-4418-9048-9f287f95fe66" SortOrder="0">contact</ContentType>
    <ContentType Key="1059a542-dc4c-4d0a-9dda-b3d3a30789aa" SortOrder="1">search</ContentType>
    <ContentType Key="c0a17fc3-2577-43ac-9609-59b5e08a72c2" SortOrder="2">genericText</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>1910e45b-4316-49b4-afd3-75d7d34ca175</Key>
      <Name>Blocks</Name>
      <Alias>blocks</Alias>
      <Definition>79ee7beb-d47e-4bc9-a35f-ef8701f4c2b7</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="content/content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>27f7d9ff-710f-431f-b73b-3de1319fd9d1</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Tab</Type>
      <SortOrder>-1</SortOrder>
    </Tab>
    <Tab>
      <Key>6088d9bd-dccd-4589-a13a-19086e88a973</Key>
      <Caption>Content</Caption>
      <Alias>content/content</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>