<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="49196bb5-37e5-42e0-83b4-6c60331089bb" Alias="home" Level="1">
  <Info>
    <Name>Home</Name>
    <Icon>icon-home color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions>
      <Composition Key="7dee22ff-e4fa-4a96-bc15-1146db9025fb">banner</Composition>
      <Composition Key="d315790f-3f51-43a3-a3d9-77b10b230928">metadata</Composition>
    </Compositions>
    <DefaultTemplate>Home</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="5a71625c-59ce-4586-b2fe-0676acbbbaf4">Home</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="f4e22426-5ca5-4418-9048-9f287f95fe66" SortOrder="0">contact</ContentType>
    <ContentType Key="1059a542-dc4c-4d0a-9dda-b3d3a30789aa" SortOrder="1">search</ContentType>
    <ContentType Key="c0a17fc3-2577-43ac-9609-59b5e08a72c2" SortOrder="2">genericText</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>