<?xml version="1.0" encoding="utf-8"?>
<DataType Key="b4df1cef-6848-4154-84e0-6b39370dc4db" Alias="Call To Action Block - Call To Action Link - Multi URL Picker" Level="1">
  <Info>
    <Name>Call To Action Block - Call To Action Link - Multi URL Picker</Name>
    <EditorAlias>Umbraco.MultiUrlPicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "HideAnchor": false,
  "IgnoreUserStartNodes": false,
  "MaxNumber": 1,
  "MinNumber": 1,
  "OverlaySize": "small"
}]]></Config>
</DataType>