<?xml version="1.0" encoding="utf-8"?>
<DataType Key="4eb03b5c-cc09-415d-9e27-72b83582d474" Alias="Form Block - Form - Form Picker" Level="1">
  <Info>
    <Name>Form Block - Form - Form Picker</Name>
    <EditorAlias>UmbracoForms.FormPicker</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "AllowedFolders": [],
  "AllowedForms": [
    "fa9f2a54-846a-4fbe-8b17-1aefc52d4da9"
  ]
}]]></Config>
</DataType>