<?xml version="1.0" encoding="utf-8"?>
<DataType Key="c3b646d7-cdfa-4b71-ab27-0fcf45acb3ed" Alias="Metadata - Include In Search - Toggle" Level="1">
  <Info>
    <Name>Metadata - Include In Search - Toggle</Name>
    <EditorAlias>Umbraco.TrueFalse</EditorAlias>
    <DatabaseType>Integer</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Default": true,
  "LabelOff": null,
  "LabelOn": null,
  "ShowLabels": false
}]]></Config>
</DataType>