<?xml version="1.0" encoding="utf-8"?>
<Media Key="225b9ec0-8460-47f4-ab8a-d29de66427f9" Alias="Banner Image Umbraco" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/BannerImageUmbraco</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-02-22T17:56:52</CreateDate>
    <NodeName Default="Banner Image Umbraco" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/y0pfwita/banner-image-umbraco.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>