<?xml version="1.0" encoding="utf-8"?>
<Media Key="79e92b86-7da1-46c0-80a0-bbeb44ae79c7" Alias="Services Inner Android App Development Banner" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/ServicesInnerAndroidAppDevelopmentBanner</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-02-22T17:56:57</CreateDate>
    <NodeName Default="Services Inner Android App Development Banner" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/qavps4nb/services-inner-android-app-development-banner.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>