<?xml version="1.0" encoding="utf-8"?>
<Media Key="585dda21-0f26-4d8a-bd7b-62a8acbbc1f2" Alias="Umbraco Logo Blue05" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/UmbracoLogoBlue05</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-02-22T14:04:36</CreateDate>
    <NodeName Default="Umbraco Logo Blue05" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/e5nf0wbg/umbraco_logo_blue05.webp"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>