<?xml version="1.0" encoding="utf-8"?>
<Content Key="a6607fbe-d55e-463d-9d86-3d81a644c2f8" Alias="Content Page" Level="2">
  <Info>
    <Parent Key="22e3c7da-0a4f-4a22-884c-dc4546aab35a">Home</Parent>
    <Path>/Home/ContentPage</Path>
    <Trashed>false</Trashed>
    <ContentType>genericText</ContentType>
    <CreateDate>2025-02-22T14:02:40</CreateDate>
    <NodeName Default="Content Page" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="745617f7-7b7a-4cb8-96d3-0d84d8683a13">GenericText</Template>
  </Info>
  <Properties>
    <bannerDescription>
      <Value><![CDATA[{
  "markup": "<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </bannerDescription>
    <bannerImage>
      <Value><![CDATA[[
  {
    "key": "592744a4-94c7-4d16-9293-59fbb579e400",
    "mediaKey": "d2401f90-35c1-4060-90b6-1d789c38d4ca"
  }
]]]></Value>
    </bannerImage>
    <bannerTitle>
      <Value><![CDATA[Generic Content Page]]></Value>
    </bannerTitle>
    <blocks>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/7c30e8d7bad241aeb00e2b1575c276ff"
      },
      {
        "contentUdi": "umb://element/644bc61360734618affecca83eee2205"
      },
      {
        "contentUdi": "umb://element/e925aed0941e48de9388cc9cb9fde74c"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "a040cd94-24ff-4d89-95f4-fe345d6a6a5e",
      "richText": {
        "markup": "<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      },
      "udi": "umb://element/7c30e8d7bad241aeb00e2b1575c276ff"
    },
    {
      "bannerDescription": {
        "markup": "<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      },
      "bannerImage": [
        {
          "key": "d1a564bd-84ca-42de-8d4e-57286c196031",
          "mediaKey": "225b9ec0-8460-47f4-ab8a-d29de66427f9"
        }
      ],
      "bannerTitle": "Call To Action!",
      "buttonText": "Click Here",
      "callToActionLink": [
        {
          "udi": "umb://document/22e3c7da0a4f4a22884cdc4546aab35a"
        }
      ],
      "contentTypeKey": "03021a11-c6dc-4f3b-b8ff-09bf70583f43",
      "udi": "umb://element/644bc61360734618affecca83eee2205"
    },
    {
      "contentTypeKey": "081298a9-d6e0-4249-955c-1082a56a723c",
      "image": [
        {
          "key": "b3caf78a-0989-468f-aaaf-576cca4986e8",
          "mediaKey": "585dda21-0f26-4d8a-bd7b-62a8acbbc1f2"
        }
      ],
      "text": {
        "markup": "<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      },
      "udi": "umb://element/e925aed0941e48de9388cc9cb9fde74c"
    }
  ],
  "settingsData": []
}]]></Value>
    </blocks>
    <includeInSearch>
      <Value><![CDATA[1]]></Value>
    </includeInSearch>
    <pageTitle>
      <Value><![CDATA[Content Page]]></Value>
    </pageTitle>
  </Properties>
</Content>