<?xml version="1.0" encoding="utf-8"?>
<Content Key="ddef141b-4476-4a2f-8873-f88cbe78d30b" Alias="Search" Level="2">
  <Info>
    <Parent Key="22e3c7da-0a4f-4a22-884c-dc4546aab35a">Home</Parent>
    <Path>/Home/Search</Path>
    <Trashed>false</Trashed>
    <ContentType>search</ContentType>
    <CreateDate>2025-02-22T14:04:54</CreateDate>
    <NodeName Default="Search" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="51b5e9f7-7e2e-4695-a547-f27225efbcd6">Search</Template>
  </Info>
  <Properties>
    <includeInSearch>
      <Value><![CDATA[0]]></Value>
    </includeInSearch>
    <pageTitle>
      <Value><![CDATA[Search]]></Value>
    </pageTitle>
  </Properties>
</Content>