<?xml version="1.0" encoding="utf-8"?>
<Content Key="6b59f1b3-94c0-4101-b40a-130d38d88690" Alias="test page" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-20]/testPage</Path>
    <Trashed Parent="22e3c7da-0a4f-4a22-884c-dc4546aab35a">true</Trashed>
    <ContentType>genericText</ContentType>
    <CreateDate>2025-02-23T17:52:38</CreateDate>
    <NodeName Default="test page" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="745617f7-7b7a-4cb8-96d3-0d84d8683a13">GenericText</Template>
  </Info>
  <Properties>
    <bannerDescription>
      <Value><![CDATA[]]></Value>
    </bannerDescription>
    <bannerImage>
      <Value><![CDATA[[]]]></Value>
    </bannerImage>
    <bannerTitle>
      <Value><![CDATA[title]]></Value>
    </bannerTitle>
    <blocks>
      <Value><![CDATA[]]></Value>
    </blocks>
    <includeInSearch>
      <Value><![CDATA[1]]></Value>
    </includeInSearch>
    <pageTitle>
      <Value><![CDATA[test]]></Value>
    </pageTitle>
  </Properties>
</Content>